<section class="hero is-fullheight" id="hero">
        
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="task-container columns" id="viggoscrape-demo">
        <div class="column">
          <div class="card has-background-dark">
            <header class="card-header has-background-danger">
              <p class="card-header-title">
                Viggoscrape Demo
              </p>
              <button class="card-header-icon">
                <span class="icon">
                  <i class="fas fa-terminal" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <div class="content">
                <div>
                  <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="text" id="usernameInput" placeholder="Username">
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="password" id="passwordInput" placeholder="Password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="text" id="subdomainInput" placeholder="Subdomain">
                      <span class="icon is-small is-left">
                        <i class="fas fa-wifi"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input date" type="date" id="dateInput" placeholder="Date">
                      <span class="icon is-small is-left">
                        <i class="fas fa-calendar"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <div class="select">
                        <select id="groupingSelect">
                          <option>Group by assignment</option>
                          <option>Group by field</option>
                        </select>
                      </div>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <div class="container is-max-widescreen">
                        <div class="pt-2">
                          <div class="select">
                            <select id="versionSelect">
                              <option>API v2</option>
                              <option>API v1</option>
                            </select>
                          </div>
                          <button class="button is-success is-right" id="scrapeButton">Scrape!</button>
                        </div>
                      </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <footer class="card-footer">
              <button class="card-footer-item button is-dark">Scrape!</a>
            </footer> -->
          </div>
        </div>
        <div class="column">
          <div class="card has-background-dark">
            <header class="card-header has-background-danger">
              <p class="card-header-title">
                Output
              </p>
              <button class="card-header-icon">
                <span class="icon">
                  <i class="fas fa-window" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <div class="content">
                <textarea class="textarea has-background-dark has-text-white" id="output" style="resize:none;width:500px;height:600px;border:none;outline:none;font-family: 'Courier New', Courier, monospace;">Your output will appear here.</textarea>
                <progress class="progress is-medium is-danger is-hidden" max="100">Loading...</progress>
              </div>
            </div>
            <!-- <footer class="card-footer">
              <button class="card-footer-item button is-dark">Scrape!</a>
            </footer> -->
          </div>
        </div>
        <div class="column">
          <div class="card has-background-dark">
            <header class="card-header has-background-danger">
              <p class="card-header-title">
                URL
              </p>
              <button class="card-header-icon">
                <span class="icon">
                  <i class="fas fa-link" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <div class="content">
                <div>
                  <input class="input" type="password" id="urlInput" style="width:400px" placeholder="Your URL will appear here." readonly>
                </div>
                <div class="pt-2">
                  <div class="buttons">
                    <button class="button is-danger" id="hideShowURL">Show URL</button>
                    <button class="button is-link" id="copyButton">Copy URL</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <footer class="card-footer">
              <button class="card-footer-item button is-dark">Scrape!</a>
            </footer> -->
          </div>
        </div>
        
        
        
        <!-- <input class="input" id="subdomainInput" type="text" placeholder="Subdomain">
        <input class="input" id="dateInput" type="text" placeholder="YYYY-MM-DD">
        <input class="input" id="usernameInput" type="text" placeholder="Username">
        <input class="input" id="passwordInput" type="password" placeholder="Password">
        <button class="button is-success" id="scrapeButton">Scrape!</button> -->
      </div>
    </div>
    <script src="/static/scripts/modalButtons.js"></script>
    

  </section>