<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Viggoscrape API</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <style>
            canvas{
                position: absolute;
                top:0;
                left:0;
                z-index:-1;
            }
        </style>
    </head>
    <body>
        <section class="hero is-fullheight">
            <!-- Hero head: will stick at the top -->
            <div class="hero-head">
              <header class="navbar">
                <div class="container">
                  <div class="navbar-brand">
                    <a class="navbar-item">
                      <img src="/favicon.ico" alt="Logo">
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroC">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <div id="navbarMenuHeroC" class="navbar-menu">
                    <div class="navbar-end">
                      <a class="navbar-item is-active">
                        Home
                      </a>
                      <a class="navbar-item">
                        Examples
                      </a>
                      <a class="navbar-item">
                        Documentation
                      </a>
                      <span class="navbar-item">
                        <a class="button is-success is-inverted">
                          <span class="icon">
                            <i class="fab fa-github"></i>
                          </span>
                          <span>Download</span>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </header>
            </div>
          
            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
              <div class="container has-text-centered">
                <p class="title">
                  Viggoscrape API
                </p>
                <p class="subtitle">
                  An API for reading Viggo assignments.
                </p>
                <button class="button" onclick="console.log('hello')">Try it out!</button>
                <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js"></script>
                <script src="/static/scripts/particles.js"></script>
                <div class="waves">
                    <canvas width="320" height="486" style="width: 320px; height: 486px; color:white"></canvas>
                </div>
              </div>
            </div>
          </section>
    </body>
</html>