<!DOCTYPE html>
<html>
    <head>
        <title>Placeholder</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
            body {
                margin: 0;
                padding:2em;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: rgb(255, 255, 255);
                font-size: 1.2em;
                background-color: rgb(54, 57, 63);
            }
            h1 {
                color:rgb(90, 98, 116);
                font-size:4.3em;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>JSON will appear here.</h1>
    </body>
</html>
